In [19]:
import pandas as pd
import numpy as np
from CVIX import (filter_contract,cal_forward_price,cal_forward_price)

In [34]:
opt_data = pd.read_csv('opt_data.csv',index_col=[0])
df_rate = pd.read_csv('shibor_df.csv',index_col=0)

In [24]:
maturity, df_jy, df_cjy = filter_contract(opt_data)

In [ ]:
cal_forward_price(maturity['jy'], rf_rate=rf_rate_jy, df=df_jy)

In [28]:
maturity['jy'] * 365

5.0

In [35]:
df_rate.head()

,1,2,3,4,5,6,7,8,9,10,...,351,352,353,354,355,356,357,358,359,360
date,,,,,,,,,,,,,,,,,,,,,
2015-02-09,0.02812,0.031771,0.034924,0.037619,0.039895,0.041792,0.04335,0.044608,0.045605,0.046382,...,0.047710,0.047718,0.047726,0.047735,0.047743,0.047752,0.047761,0.047771,0.047780,0.047790
2015-02-10,0.02852,0.032069,0.035124,0.037726,0.039914,0.041729,0.04321,0.044398,0.045333,0.046055,...,0.047658,0.047671,0.047685,0.047699,0.047713,0.047728,0.047743,0.047758,0.047774,0.047790
2015-02-11,0.02932,0.033003,0.036145,0.038790,0.040984,0.042772,0.04420,0.045313,0.046155,0.046774,...,0.047648,0.047663,0.047679,0.047695,0.047711,0.047728,0.047745,0.047763,0.047781,0.047800
2015-02-12,0.03058,0.034653,0.038044,0.040816,0.043028,0.044743,0.04602,0.046921,0.047507,0.047838,...,0.047598,0.047621,0.047645,0.047670,0.047695,0.047721,0.047748,0.047776,0.047805,0.047834
2015-02-13,0.03091,0.035148,0.038650,0.041481,0.043710,0.045404,0.04663,0.047455,0.047946,0.048171,...,0.047580,0.047607,0.047635,0.047663,0.047693,0.047723,0.047755,0.047787,0.047821,0.047855

In [29]:
opt_data.head()

           date exercise_date   close contract_type  exercise_price  maturity
0    2015-02-09    2015-03-25  0.1826          call            2.20  0.120548
656  2015-02-09    2015-04-22  0.1614           put            2.35  0.197260
609  2015-02-09    2015-04-22  0.1327           put            2.30  0.197260
562  2015-02-09    2015-04-22  0.1111           put            2.25  0.197260
515  2015-02-09    2015-04-22  0.0880           put            2.20  0.197260

In [33]:
df_rate.loc['2015-02-09']

on    2.8120
1w    4.3350
2w    4.8070
1m    5.0250
3m    4.9040
6m    4.7796
9m    4.7538
1y    4.7790
Name: 2015-02-09, dtype: float64