In [1]:
from typing import Dict, List, Tuple

import pandas as pd
import qlib
from qlib.data import D

from src.dataservice.query2db import get_price

In [2]:
# qlib.init(provider_uri="data/qlib_data", region="cn")

In [3]:
# POOLS: List = D.list_instruments(D.instruments("pool"), as_list=True)
# pct_chg: pd.DataFrame = D.features(POOLS, fields=["CSRank($close)"])

In [2]:
get_price(end_date='2023-06-26',count=2,fields=['close','turnover_rate_f','vol'],fq='hfq')

            code trade_date       vol       close  turnover_rate_f
0      001205.SZ 2023-06-20   13481.4   28.340675           1.2495
1      688616.SH 2023-06-20   14016.8   13.267342           2.4999
2      688207.SH 2023-06-20   62217.2   39.796314           4.9842
3      003021.SZ 2023-06-20   74725.9  139.962120          14.8704
4      603259.SH 2023-06-20  268298.0  167.003795           1.4064
...          ...        ...       ...         ...              ...
15554  300876.SZ 2023-06-26    3891.0   24.607219           1.3739
15555  300875.SZ 2023-06-26   46537.4   51.968700          10.0841
15556  300873.SZ 2023-06-26   17320.8   31.577080           1.6113
15557  300892.SZ 2023-06-26    6806.0   22.465156           2.4503
15558  300816.SZ 2023-06-26   72251.6   30.870144          19.7282

[15559 rows x 5 columns]